.section__header,
.section__container {
  box-shadow: 0px 0px 4px 1px #212121;
  padding: 30px;
}

.section__header {
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgb(90, 88, 88, 0.6),
    rgb(39, 39, 39, 0.6)
  );
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.214);
  display: flex;
  max-height: 80px;
}

.section__headerText {
  color: white;
}

.section__container {
  background: linear-gradient(
    to right top,
    rgb(90, 88, 88, 0.6),
    rgb(37, 37, 37, 0.6)
  );
  min-height: 200px;
  border-radius: 0 0 12px 12px;
}
